@import "../global.css";

.mimenu {
  position: relative;
  letter-spacing: 1px;
  line-height: 56px;
}
.mimenuWrapper {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.groupChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--grayscale-off-white);
  border: 1px solid var(--color-blue);
  box-sizing: border-box;
  width: 120px;
  height: 48px;
}
.logout {
  position: absolute;
  top: 13px;
  left: 37px;
  letter-spacing: 0.25px;
  line-height: 22px;
  font-weight: 600;
}
.groupItem,
.rectangleParent {
  position: absolute;
  top: 0;
  left: 0;
  width: 120px;
  height: 48px;
}
.groupItem {
  left: 136px;
  width: 48px;
}
.groupParent {
  position: relative;
  width: 184px;
  height: 48px;
  flex-shrink: 0;
}
.groupWrapper {
  width: 421px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  font-size: var(--desktop-link-x-small-size);
  color: var(--color-blue);
}
.frameParent,
.groupInner {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
.frameParent {
  border-radius: var(--br-md);
  background-color: var(--grayscale-off-white);
  width: 1440px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-2xl) var(--padding-xl);
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
  font-size: var(--desktop-display-medium-bold-size);
}
.groupInner {
  border-radius: var(--br-lg);
  background-color: var(--grayscale-off-white);
  border: 1px solid var(--color-violet);
  width: 105px;
  height: 44px;
}
.day {
  position: absolute;
  top: 6px;
  left: 32px;
  letter-spacing: 0.75px;
  line-height: 32px;
  font-weight: 500;
  color: var(--color-indigo-100);
}
.rectangleGroup {
  position: relative;
  width: 105px;
  height: 44px;
  flex-shrink: 0;
}
.rectangleDiv {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-blue);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 105px;
  height: 44px;
}
.prep {
  position: absolute;
  top: 6px;
  left: 29px;
  letter-spacing: 0.75px;
  line-height: 32px;
  font-weight: 500;
}
.groupContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-md);
}
.ingredients {
  position: relative;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 326px;
  height: 25px;
  flex-shrink: 0;
}
.groupChild1,
.groupChild2 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 254px;
  height: 64px;
}
.groupChild2 {
  background-color: var(--color-beige);
  width: 54px;
  height: 44px;
}
.beef {
  position: absolute;
  top: 13px;
  left: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 38px;
}
.rectangleParent1 {
  position: absolute;
  top: 10px;
  left: 15px;
  width: 54px;
  height: 44px;
}
.groupDiv {
  flex: 1;
  position: relative;
  height: 64px;
}
.frameChild {
  position: relative;
  width: 80px;
  height: 80px;
  flex-shrink: 0;
}
.frameDiv {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  font-size: var(--font-size-3xl);
  color: var(--color-gray-200);
}
.groupChild3,
.groupChild4 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-beige);
  width: 326px;
  height: 72px;
}
.groupChild4 {
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 62px;
  height: 44px;
}
.dairy {
  position: absolute;
  top: 15px;
  left: 8px;
  font-weight: 500;
}
.groupIcon {
  position: absolute;
  top: 14px;
  left: 41px;
  width: 16px;
  height: 16px;
}
.groupChild5,
.rectangleParent3 {
  position: absolute;
  top: 14px;
  left: 16px;
  width: 62px;
  height: 44px;
}
.groupChild5 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 68px;
}
.wheat {
  position: absolute;
  top: 15px;
  left: 9.34px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 39.43px;
}
.groupChild6 {
  position: absolute;
  top: 14px;
  left: 48px;
  width: 16px;
  height: 16px;
}
.groupChild7,
.rectangleParent4 {
  position: absolute;
  top: 14px;
  left: 86px;
  width: 68px;
  height: 44px;
}
.groupChild7 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 57px;
}
.beef1 {
  position: absolute;
  top: 15px;
  left: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 27px;
}
.groupChild8,
.rectangleParent5 {
  position: absolute;
  top: 14px;
  left: 36px;
  width: 16px;
  height: 16px;
}
.rectangleParent5 {
  left: 162px;
  width: 57px;
  height: 44px;
}
.rectangleParent2 {
  position: relative;
  width: 326px;
  height: 72px;
  flex-shrink: 0;
  font-size: var(--font-size-base);
}
.foodItems,
.ingredientsParent {
  font-size: var(--desktop-link-large-size);
  display: flex;
}
.ingredientsParent {
  width: 326px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-lg);
}
.foodItems {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  align-items: center;
  height: 25px;
  flex-shrink: 0;
}
.groupChild10,
.groupChild9,
.buttonlessChild {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 276.95px;
  height: 72px;
}
.buttonlessChild {
  width: 352px;
}
.groupChild10 {
  width: 55px;
  height: 44px;
}
.burger {
  position: absolute;
  top: 15px;
  left: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 41px;
}
.rectangleParent7 {
  position: relative;
  top: 14px;
  left: 17px;
  width: 55px;
  height: 44px;
}
.rectangleParent6 {
  position: relative;
  width: 276.95px;
  height: 72px;
  flex-shrink: 0;
}
.groupParent1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: var(--padding-3xs) 0;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xs);
  color: var(--color-gray-200);
}
.groupChild11 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-violet);
  width: 352px;
  height: 72px;
}
.beef2 {
  position: absolute;
  top: 15px;
  left: 6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 28.79px;
}
.groupChild13 {
  position: absolute;
  top: 14px;
  left: 36.12px;
  width: 17.06px;
  height: 16px;
}
.rectangleParent9 {
  position: relative;
  top: 13px;
  left: 16px;
  width: 57px;
  height: 44px;
}
.frameInner,
.rectangleParent8 {
  position: relative;
  flex-shrink: 0;
}
.rectangleParent8 {
  align-self: stretch;
  height: 72px;
}
.frameInner {
  width: 80px;
  height: 81.77px;
}
.groupChild14,
.groupChild15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-violet);
  width: 272px;
  height: 72px;
}
.groupChild15 {
  border-radius: var(--br-xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 55px;
  height: 44px;
}
.groupChild16,
.rectangleParent11 {
  position: absolute;
  top: 14px;
  left: 16px;
  width: 55px;
  height: 44px;
}
.groupChild16 {
  top: 0;
  left: 0;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 50px;
  background: var(--color-blue);
}
.bread {
  position: absolute;
  top: 14.23px;
  left: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 41px;
  color: var(--color-gray-200);
}
.burger1 {
  color: var(--color-indigo-100);
  position: absolute;
  top: 14.55px;
  left: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 41px;
}
.rectangleParent12 {
  position: relative;
  top: 14px;
  left: 82px;
  width: 50px;
  height: 44px;
}
.rectangleParent10 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--br-xs);
  position: relative;
  width: 272px;
  height: 72px;
  flex-shrink: 0;
}
.foodItemsParent,
.groupParent2,
.groupParent3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.foodItemsParent,
.groupParent2 {
  flex-direction: column;
  align-items: stretch;
  gap: var(--gap-xs);
}
.foodItemsParent {
  align-items: flex-start;
  gap: var(--gap-2xs);
}
.groupChild18 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-beige);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 107px;
  height: 44px;
}
.amazingBurger {
  position: absolute;
  top: 14px;
  left: 8px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 94px;
}
.groupChild23,
.rectangleParent14 {
  position: absolute;
  top: 14.46px;
  left: 17px;
  width: 107px;
  height: 44px;
}
.groupChild23 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-blue);
  border: 1px solid var(--color-violet);
  box-sizing: border-box;
  width: 104px;
}
.amazingBurger1 {
  position: absolute;
  top: 15px;
  left: 6px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 92px;
}
.rectangleParent18 {
  position: absolute;
  top: 13.69px;
  left: 93.76px;
  width: 104px;
  height: 44px;
}
.salad {
  position: absolute;
  top: 14.69px;
  left: 8.76px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 32px;
}
.rectangleParent19 {
  position: absolute;
  top: 14px;
  left: 206px;
  width: 50px;
  height: 44px;
  color: var(--color-indigo-100);
}
.groupParent6 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: var(--color-gray-200);
}
.frameContainer,
.frameGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.frameContainer {
  align-items: flex-start;
  font-size: var(--font-size-base);
  color: var(--color-indigo-100);
  font-family: var(--font-inter);
}
.frameGroup {
  top: 133px;
  left: 533px;
  padding: 0 var(--padding-md);
  align-items: center;
  color: var(--color-gray-200);
}
.frameGroup,
.home,
.homeIcon {
  position: absolute;
}
.home {
  top: 6px;
  left: 49px;
  letter-spacing: 0.75px;
  line-height: 32px;
  font-weight: 600;
}
.homeIcon {
  top: 0;
  left: 0;
  width: 44px;
  height: 44px;
  overflow: hidden;
}
.dayParent,
.homeParent,
.patientsParent {
  position: relative;
  width: 112px;
  height: 44px;
  flex-shrink: 0;
}
.dayParent,
.patientsParent {
  width: 138px;
}
.dayParent {
  width: 91px;
  color: var(--color-blue);
}
.groupParent7 {
  position: absolute;
  top: 125px;
  left: 32px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  color: var(--color-violet);
}
.mimenuPrep {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--desktop-link-large-size);
  color: var(--color-indigo-100);
  font-family: var(--desktop-display-small-bold);
}

@media screen and (max-width: 428px) {
  .mimenuPrep {
    background: linear-gradient(180deg, #4545ee, #fff);
    height: 844px;
    width: 430px;
  }
  .foodItemsParent {
    width: 326px;
  }
  .frameGroup {
    left: 24px;
  }
  .foodItems {
    font-size: var(--font-size-3xl);
    font-weight: 500;
    height: 25px;
    width: 326px;
  }
  .groupChild9,
  .buttonlessChild,
  .rectangleParent6,
  .groupParent1 {
    height: 44px;
  }
  .frameInner,
  .frameChild {
    height: 50px;
    width: 46px;
  }
  .groupChild10,
  .rectangleParent7 {
    height: 27px;
  }
  .rectangleParent7 {
    top: 9px;
  }
  .burger1 {
    top: 6px;
  }
  .rectangleParent8,
  .groupChild11 {
    height: 56px;
    width: 326px;
  }
  .buttonlessChild,
  .rectangleParent8 {
    width: 326px;
  }
  .rectangleParent9 {
    top: 4px;
    height: 36px;
  }
  .groupChild7 {
    top: 8px;
    height: 27px;
    border-radius: var(--br-xs);
  }
  .groupChild13 {
    top: 0;
    left: 47px;
  }
  .beef2 {
    top: 14px;
    left: 16px;
  }
  .groupParent3 {
    width: 326px;
  }
  .groupChild14,
  .rectangleParent10 {
    width: 280px;
    height: 44px;
  }
  .groupChild16,
  .rectangleParent12,
  .groupChild15,
  .rectangleParent11 {
    height: 27px;
  }
  .rectangleParent11,
  .rectangleParent12 {
    top: 8px;
  }
  .bread,
  .burger {
    top: 7px;
  }
}
